.imageLogo{
    border-radius: 50%;
    height: 36px;
}

/* Card section */
.card-img-top {
    width: 100%;
    height: 10vh;
    object-fit: contain;    
    margin-top: 1em;
    /* object-fit: cover;  might work too  */
}

.heroImage{
    width: 150px;
}
.card{
    margin: 0em 2em 0em 2em;
}